{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="container  mt-4 ">

        <nav aria-label="breadcrumb ">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'income' %}">{% translate 'Income' %}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{% translate 'Add Income' %}</li>
            </ol>
        </nav>
        <div class="card">
            <div class="card-body">
                <form action="{% url 'add_income' %}" method="post">
                    {% include 'partials/_message.html' %}
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="">{% translate 'Amount' %}</label>
                        <input type="text" class="form-control form-control-sm" name="amount" value="{{ values.amount }}">
                    </div>
                    <div class="form-group">
                        <label for="">{% translate 'Description' %}</label>
                        <input type="text" class="form-control " name="description" value="{{ values.description }}">
                    </div>
                    <div class="form-group">
                        <label for="">{% translate 'Sources' %}</label>
                        <select class="form-control form-control-sm" name="source">
                            {% for source in sources %}
                                <option name="{{ source.name }}">{{ source.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">{% translate 'Date of Income' %}</label>
                        <input type="date" class="form-control form-control-sm" name="income_date" value="{{ values.income_date }}">
                    </div>

                    <button type="submit" class="btn btn-primary mt-3">Save</button>
                </form>
            </div>
        </div>

    </div>


{% endblock content %}

