{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="container  mt-4 ">

  <div class="row">
      <div class="col-md-10">
                <nav aria-label="breadcrumb ">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'expenses' %}">{% translate 'Income' %}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{% translate 'Edit Income' %}</li>
            </ol>
        </nav>
      </div>
      <div class="col-md-2">
          <a href="{% url 'income_delete' income.id %}" class="btn btn-danger">{% translate 'Delete' %}</a>
      </div>
  </div>
        <div class="card">
            <div class="card-body">
                <form action="{% url 'income_edit' income.id %}" method="post">
                    {% include 'partials/_message.html' %}
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="">{% translate 'Amount' %}</label>
                        <input type="text" class="form-control form-control-sm" name="amount" value="{{ values.amount }}">
                    </div>
                    <div class="form-group">
                        <label for="">{% translate 'Description' %}</label>
                        <input type="text" class="form-control " name="description" value="{{ values.description }}">
                    </div>
                    <div class="form-group">
                        <label for="">{% translate 'Sources' %}</label>
                        <select class="form-control form-control-sm" name="source">
                         <option name="source" selected value="{{ values.source }}">{{ values.source }}</option>
                            {% for source in source %}
                                <option name="source" value="{{ source.name }}">{{ source.name }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">{% translate 'Date of Income' %}</label>
                        <input type="date" class="form-control form-control-sm" name="income_date" value="{{ values.income_date  }}" >
                    </div>

                    <button type="submit" class="btn btn-primary mt-3">{% translate 'Save' %}</button>
                </form>
            </div>
        </div>

    </div>

    <h2>Add Expenses</h2>>
{% endblock content %}

