{% extends 'base.html' %}
{% load i18n %}
{% block content %}
{% load static %}
    {% include 'partials/_message.html' %}
    <div class="container mt-4">

        <div class="row">
            <div class="col-md-10 bg-body-secondary ">
                <nav aria-label="breadcrumb ">
                    <ol class="breadcrumb text-center ">
                        <li class="breadcrumb-item "><a href="">{% translate 'Income' %}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{% translate 'My Income' %}</li>
                    </ol>
                </nav>
            </div>
            <div class="col-md-2">
                <a href="{% url 'add_income' %}" class="btn btn-primary">{% translate 'Add Income' %}</a>
            </div>

        </div>
        <div class="container">
        {% include 'partials/_message.html' %}
            {% if income.count %}
                <div class="row">
                    <div class="col-md-8"></div>
                    <div class="col-md-4 mt-3">
                        <div class="form-group">
                            <input type="text" class="form-control" id="searchField" placeholder="Search">
                        </div>
                    </div>
                </div>
             <div class="app-table">
                <table class=" table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>{% translate 'Amount' %} ({{ currency }})</th>
                        <th>{% translate 'Source' %}</th>
                        <th>{% translate 'Description' %}</th>
                        <th>{% translate 'Date' %}</th>
                    </tr>

                    </thead>
                    <tbody>
                    <tr class="d-flexc flex-column">
                        {% for income in page_obj %}
                            <td>
                                {{ income.amount }}
                            </td>
                            <td>
                                {{ income.source }}
                            </td>
                            <td>
                                {{ income.description }}
                            </td>
                            <td>
                                {{ income.date }}
                            </td>
                            <td>
                                <a href="{% url 'income_edit' income.id %}" class="btn btn-primary">Edit</a>
                            </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
             </div>
                <p class="no-results" style="display: none;">No results </p>
                <div class="table-search">
                    <table class=" table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>{% translate 'Amount' %} (CURRENCY)</th>
                        <th>{% translate 'Source' %}</th>
                        <th>{% translate 'Description' %}</th>
                        <th>{% translate 'Date' %}</th>
                    </tr>

                    </thead>
                    <tbody class="table-body" >


                    </tbody>
                </table>
                </div>
                <div class="pagination-container">

                <span>Showing page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                <ul class="pagination align-right float-end ma-auto">
                    {% if page_obj.has_previous %}
                        <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}>
                            <a href="?page=1" class="page-link">&laquo;1</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previos</a>
                        </li>
                    {% endif %}

                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
                </div>
    </div>
    <script src="{% static 'js/searchIncome.js' %}"></script>
{% endblock %}
