{% extends 'base_auth.html' %}
{% load i18n %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <div class="card-title py-3">
                        <h4>{% translate 'Register for a free account' %}</h4>
                    </div>
                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        {% include 'partials/_message.html' %}


                        <div class="mb-3">
                            <input type="text" name="username" placeholder="Username"
                                   class="form-control form-control-sm" id="usernameField"
                                   value="{{ fieldValue.username }}"/>
                        </div>
                        <div class="mb-3">
                            <input type="password" name="password" class="form-control form-control-sm"
                                   placeholder="Password" id="passwordField"/>

                        </div>
                        <button type="submit" value="Login" class="btn btn-primary w-100 submit-btn ">Register</button>
                    </form>
                    <div class="container  mt-2">
                        <span class="text-lead lead">{% translate 'Already have an account?' %} <a href="{% url 'register' %}">{% translate 'Register' %}</a></span><br>
                        <span class="lead">{% translate 'Forgot your password?' %} <a
                                href="{% url 'reset-password' %}">{% translate 'Reset of password' %}</a></span></div>
                </div>

            </div>
        </div>


    </div>
    <div class="col-md-3"></div>
    </div>


    <script defer src="{% static 'js/register.js' %}"></script>

{% endblock content %}