{% extends 'base_auth.html' %}
{% load i18n %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <div class="card-title py-3">
                        <h4>{% blocktranslate %}Register for a free account{% endblocktranslate %}</h4>
                    </div>
                    <form action="{% url 'register' %}" method="post">
                        {% csrf_token %}
                        {% include 'partials/_message.html' %}


                        <div class="mb-3">
                            <input type="text" name="username" placeholder="Username"
                                   class="form-control form-control-sm" id="usernameField"
                                   value="{{ fieldValue.username }}"/>
                        </div>
                        <span class="invalid_feedback invalid-feedback" style="display: none"></span>
                        <p class="text-sm text-success usernameSuccessOuptup"></p>
                        <div class="mb-3">
                            <input type="email" name="email" class="form-control form-control-sm" placeholder="Email"
                                   id="emailField"
                                   value="{{ fieldValue.email }}"/>
                        </div>
                        <span class="emailinvalid_feedback invalid-feedback" style="display: none"></span>
                        <p class="text-sm text-success emailSuccessOuptup"></p>
                        <div class="mb-3">
                            <input type="password" name="password" class="form-control form-control-sm"
                                   placeholder="Password" id="passwordField"/>
                            <small class="float-end py-3 showPasswordToggle">SHOW</small>
                        </div>
                        <button type="submit" value="register" class="btn btn-primary w-100 submit-btn ">
                            {% blocktranslate %}Register{% endblocktranslate %}</button>
                    </form>
                    <div class="container  mt-2">
                        <span class="text-lead lead">{% blocktranslate %}Already have an account?{% endblocktranslate %}
                            <a href="{% url 'login' %}">{% blocktranslate %}Sign in{% endblocktranslate %}</a></span><br>
                    </div>
                </div>

            </div>
        </div>


    </div>
    <div class="col-md-3"></div>
    </div>


    <script defer src="{% static 'js/register.js' %}"></script>

{% endblock content %}