{% extends 'base_auth.html' %}
{% load i18n %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <div class="card-title py-3">
                            <h4>{% translate 'Enter your email to receive a password reset link.' %}</h4>
                    </div>
                    <form action="{% url 'reset-password' %}" method="post">
                        {% csrf_token %}
                        {% include 'partials/_message.html' %}

                        <div class="mb-3 form-group">
                            <input type="email" name="email" class="form-control form-control-sm" placeholder="Email"
                                   id="emailField"
                            value="{{ values.email }}"  />
                        </div>

                        <button type="submit" value="Submit" class="btn btn-primary w-100 submit-btn " >Submit</button>
                    </form>
                              <div class="container  mt-2">
                        <span class="text-lead lead">{% translate 'Already have an account?' %} <a href="{% url 'login' %}">{% translate 'Sign in' %}</a></span><br>
                        <span class="text-lead lead">{% translate 'Create a new account' %} <a href="{% url 'register' %}">{% translate 'Register' %}</a></span>
                </div>
                </div>

            </div>
        </div>


    </div>
    <div class="col-md-3"></div>
    </div>


    <script defer src="{% static 'js/register.js' %}"></script>

{% endblock content %}