{% extends 'base_auth.html' %}
{% load i18n %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <div class="card-title py-3">
                        <h4>{% blocktranslate %}Set New Password{% endblocktranslate %}</h4>
                    </div>

                    <div class="container  mt-2">
                        <span class="text-lead lead">{% blocktranslate %}Already have an account?{% endblocktranslate %}
                            <a href="{% url 'login' %}">{% blocktranslate %}Signin{% endblocktranslate %} </a> </span><br>
                    </div>
                </div>

            </div>
        </div>


    </div>
    <div class="col-md-3"></div>
    </div>


    <script defer src="{% static 'js/register.js' %}"></script>

{% endblock content %}